#
name: Build VRM4U on Linux

# Configures this workflow to run manually
on:
  workflow_dispatch:

# Defines two custom environment variables for the workflow. These are used for the Container registry domain, and a name for the Docker image that this workflow builds.
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.head_ref || github.ref_name }}

# There is a single job in this workflow. It's configured to run on the latest available version of Ubuntu.
jobs:
  build-native:
    runs-on: ${{ matrix.runner }}
    container:
      image: ghcr.io/epicgames/unreal-engine:${{ matrix.unreal }}
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    strategy:
      matrix:
        runner: [ubuntu-22.04]
        unreal: [dev-5.6, dev-5.5, dev-5.4, dev-5.3, dev-5.2, dev-5.1, dev-5.0]

    # Sets the permissions granted to the `GITHUB_TOKEN` for the actions in this job.
    permissions:
      contents: read
      packages: read

    steps:
      - uses: jlumbroso/free-disk-space@main
        with:
          # this might remove tools that are actually needed,
          # if set to "true" but frees about 6 GB
          tool-cache: true

          # all of these default to true, but feel free to set to
          # "false" if necessary for your workflow
          android: true
          dotnet: true
          haskell: true
          large-packages: true
          docker-images: true
          swap-storage: true

      - name: VRM4U repository
        uses: actions/checkout@v6
        with:
          path: VRM4U

      - name: assimp repository
        uses: actions/checkout@v6
        with:
          repository: ruyo/assimp
          path: assimp

      - name: Build libassimp.a
        run: |
          cd VRM4U
          mkdir build
          cd build
          cmake .. \
            -DASSIMP_BUILD_TESTS=OFF -DASSIMP_BUILD_ASSIMP_TOOLS=OFF \
            -DASSIMP_BUILD_ZLIB=ON -DASSIMP_BUILD_ALL_EXPORTERS_BY_DEFAULT=OFF -DASSIMP_WARNINGS_AS_ERRORS=OFF -DBUILD_SHARED_LIBS=OFF
          make -j $(nproc)
          cd ../..
          cp -f assimp/build/lib/libassimp.a VRM4U/ThirdParty/assimp/lib/Linux/libassimp.a
        # export UE_ROOT=/home/ue4/UnrealEngine
        # export UE_TC=$UE_ROOT/Engine/Extras/ThirdPartyNotUE/SDKs/HostLinux/Linux_x64/*/x86_64-unknown-linux-gnu
        # export UE_SYSROOT=$UE_TC
        # export CC=$UE_TC/bin/clang
        # export CXX=$UE_TC/bin/clang++
        # cmake .. -DCMAKE_SYSROOT="$UE_SYSROOT" -DCMAKE_C_COMPILER="$CC" -DCMAKE_CXX_COMPILER="$CXX" -DCMAKE_CXX_FLAGS="--target=x86_64-unknown-linux-gnu -stdlib=libc++ -fPIC" -DCMAKE_C_FLAGS="--target=x86_64-unknown-linux-gnu -fPIC" -DASSIMP_BUILD_ZLIB=ON -DASSIMP_BUILD_TESTS=OFF -DASSIMP_BUILD_ASSIMP_TOOLS=OFF -DASSIMP_BUILD_ALL_EXPORTERS_BY_DEFAULT=OFF -DASSIMP_WARNINGS_AS_ERRORS=OFF -DBUILD_SHARED_LIBS=OFF
        # make -j $(nproc)

      - name: Build VRM4U
        run: |
          /home/ue4/UnrealEngine/Engine/Build/BatchFiles/RunUAT.sh BuildPlugin \
            -plugin=VRM4U/VRM4U.uplugin -package=Dummy_Project
